
        <div class="profile">
            <form class="profile__wrap">
                <div class="profile__avatar-wrapper">
                    <img class="profile__avatar" src="http://placekitten.com/100/100" alt="аватар">
                    <img class="profile__edit-avatar" src="/static/img/pencil.svg" alt="редактировать аватар">
                </div>
                <h6 class="profile__title">Name</h6>
                <div class="profile__info">
                    {{{inputEmail}}}
                    {{{inputLogin}}}
                    {{{inputFirstName}}}
                    {{{inputLastName}}}
                    {{{inputNickName}}}
                    {{{inputPhone}}}

                    {{!-- <div class="profile__info-row">
                        <h6 class="profile__info-value">Email</h6>
                        <input class="profile__info-input" name="email" placeholder="value" />
                    </div>
                    <div class="profile__info-row">
                        <h6 class="profile__info-value">Login</h6>
                        <input class="profile__info-input" name="login" placeholder="value" />
                    </div>
                    <div class="profile__info-row">
                        <h6 class="profile__info-value">First Name</h6>
                        <input class="profile__info-input" name="first_name" placeholder="value" />
                    </div>
                    <div class="profile__info-row">
                        <h6 class="profile__info-value">Last Name</h6>
                        <input class="profile__info-input" name="second_name" placeholder="value" />
                    </div>
                    <div class="profile__info-row">
                        <h6 class="profile__info-value">Nickname</h6>
                        <input class="profile__info-input" name="display_name" placeholder="value" />
                    </div>
                    <div class="profile__info-row">
                        <h6 class="profile__info-value">Phone Number</h6>
                        <input class="profile__info-input" name="phone" placeholder="value" />
                    </div> --}}
                </div>
                <div class="profile__links">
                    <button type="submit" class="btn btn__filling">Save</button>
                </div>
            </form>
        </div>

    {{!-- <div class="popup popup_hidden">
        <form class="form popup__form">
            <h2 class="popup__form-title">Новый аватар</h2>
            <div class="form__row">
                <div class="input">
                    <h6 class="input__title">Ссылка на новое изображение</h6>
                    <input placeholder="вставьте ссылку на изображение" name="avatar" type="link" class="input__item">
                    <span class="input__error-message">error</span>
                </div>
            </div>
            <div class="form__row">
                <button type="submit" class="btn btn__filling">Войти</button>
                <a rel="stylesheet" href="../Registration/Registration.hbs" class="form__link">Нет аккаунта?</a>
            </div>
        </form>
    </div> --}}

