
                <div class="profile__avatar-wrapper">
                    {{#if avatarURL}}
                    <img class="profile__avatar" src="https://ya-praktikum.tech/api/v2/resources/{{avatarURL}}" alt="аватар">
                    {{/if}}
                    {{{editAvatar}}}
                </div>
                <h6 class="profile__title">{{name}}</h6>
                <div class="profile__info">
                    {{{inputEmail}}}
                    {{{inputLogin}}}
                    {{{inputFirstName}}}
                    {{{inputLastName}}}
                    {{{inputNickName}}}
                    {{{inputPhone}}}
                </div>
                <div class="profile__links">
                    {{{submitButton}}}
                </div>
                {{{avatarPopup}}}
                
