
        {{!-- <form class="profile__wrap profile__form"> --}}
            <div class="profile__avatar-wrapper">
                {{#if avatar}}
                  <img class="profile__avatar" src={{avatar}}>
                {{/if}}
                <img class="profile__edit-avatar" src='https://cdn-icons-png.flaticon.com/512/61/61456.png' alt="редактировать аватар">
            </div>
            <div class="profile__info">
                {{{olpPasswordInput}}}
                {{{newPasswordInput}}}
                {{{passwordRepeatedInput}}}
            </div>
            <div class="profile__links">
                {{{submitButton}}}
            </div>
