
            <div class="profile__avatar-wrapper">
                <img class="profile__avatar" src={{avatar}}  alt="Avatar">
            </div>
            <div class="profile__title">{{displayName}}</div>
            <div class="profile__info">
                <div class="profile__info-row">
                    <p class="profile__info-name">Email</p>
                    <p class="profile__info-value">{{email}}</p>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-name">Login</p>
                    <p class="profile__info-value">{{login}}</p>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-name">First Name</p>
                    <p class="profile__info-value">{{firstName}}</p>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-name">Last Name</p>
                    <p class="profile__info-value">{{lastName}}</p>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-name">Nickname</p>
                    <p class="profile__info-value">{{displayName}}</p>
                </div>
                <div class="profile__info-row">
                    <p class="profile__info-name">Phone number</p>
                    <p class="profile__info-value">{{phone}}</p>
                </div>
            </div>
            <div class="profile__links">
                <div class="profile__link">
                    {{{editProfileLink}}}
                </div>
                <div class="profile__link">
                    {{{editPasswordLink}}}
                </div>
                <div class="profile__link">
                    {{{logoutLink}}}
                </div>
            </div>