
    <h6 class="input__title">{{title}}</h6>
    {{{input}}}
    {{!-- <input placeholder={{placeholder}} name={{name}} type={{type}} class="input__item"> --}}
    <span class="input__error-message">{{errorMessage}}</span>
