
    <div class="chats">
      <div class="chats-feed">
        <div class="chats-feed__profile-link">
          {{{redirectLink}}}
        </div>
        <div class="chats-feed__search">
          <input type="text" placeholder="Search">
        </div>
        {{{chatCards}}}
        {{{addChatBtn}}}
      </div>
      {{#if currentChat}}
        <div class="message-list">
          <div class="message-list__header">
            <div class="message-list__profile">
              <img class="message-list__profile-avatar" src={{avatar}} alt="avatar">
              <h6 class="message-list__profile-name">{{name}}</h6>
            </div>
            {{{moreButton}}}
            {{{actionMenu}}}
          </div>
          {{{messageList}}}
          {{{form}}}
        </div>
      {{/if}}
      {{#unless currentChat}}
        <div class="message-list is-empty">
          <h5>Выберите чат из списка или создайте новый</h5>
        </div>
      {{/unless}}
      {{{changeChatAvatar}}}
      {{{addChatPopup}}}
      {{{addUserPopup}}}
      {{{removeUserPopup}}}
    </div>
 